[submodule "common/src/main/resources/resourcepacks/legacytoomanyorigins"]
	path = common/Common/src/main/resources/resourcepacks/legacytoomanyorigins
	url = git@github.com:MerchantPug/legacy-toomanyorigins-datapack
	branch = 1.20/main
