name: Release
on: [workflow_dispatch]

permissions:
  contents: write

env:
  ENVIRONMENT: production
  CURSEFORGE_TOKEN: ${{ secrets.CURSEFORGE_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
  ORG_GRADLE_PROJECT_merchantpugUsername: ${{ secrets.MAVEN_NAME }} # token
  ORG_GRADLE_PROJECT_merchantpugPassword: ${{ secrets.MAVEN_TOKEN }} # password

jobs:
  release:
    runs-on: ubuntu-latest
    container:
      image: eclipse-temurin:17-jdk
      options: --user root
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Clean caches
        run: ./gradlew clean --stacktrace
      - name: Upload releases
        run: ./gradlew build curseforge github modrinth publish --stacktrace